<a href="https://colab.research.google.com/github/Tarikol-Islam/Regression-Analysis/blob/main/Regression_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Dataset - Rice Dataset.csv to Dataset - Rice Dataset.csv

In [18]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.tree import DecisionTreeClassifier
%matplotlib inline

In [3]:
Dataframe = pd.read_csv('Dataset - Rice Dataset.csv')
Dataframe

    Crops  Year       Region    Area  Production  Rainfall   Fertilizer
0    Rice  2016    Bandarban    9166       12112      2297   1181451.57
1    Rice  2016   Chattagram  142556      191032      2274  18374755.62
2    Rice  2016  Cox's Bazar  108701      149317      3297  14011015.40
3    Rice  2016      Cumilla  346714      504735      2174  44689701.03
4    Rice  2016     Chandpur  138933      189808      2350  17907769.04
..    ...   ...          ...     ...         ...       ...          ...
121  Rice  2017      Rangpur  224549      363855      2940  28943243.36
122  Rice  2017    Gaibandha  242513      351322      2948  31258713.14
123  Rice  2017     Kurigram  204177      318345      2983  26317394.42
124  Rice  2017   Nilphamari  134951      214995      2947  17394509.15
125  Rice  2017  Lalmonirhat   83580      131251      2938  10773044.10

[126 rows x 7 columns]

In [61]:
x = Dataframe.drop(columns=['Crops','Year','Region','Production'])
y = Dataframe['Production']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = .25)
LinearModel = LinearRegression()
DecisionModel = DecisionTreeClassifier()
LogisticModel = LogisticRegression()
LinearModel.fit(x_train,y_train)
DecisionModel.fit(x_train,y_train)
LogisticModel.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [57]:
print(LinearModel.score(x_test,y_test))
LinearModel.predict(x_test)

-0.09060699139328676

array([194275.52870076, 258140.65370076, 235428.09120076, 340708.18495076,
       412815.43495076, 162668.99745076, 234889.49745076, 723828.12245076,
       247723.35682576, 238437.49745076,  91036.92713826, 224712.62245076,
       340130.12245076, 219381.70057576, 153147.7074117 ,  80902.86463826,
       288618.02870076, 158138.98963826, 308252.27870076, 221464.03260701,
       257733.55995076, 186567.52870076, 256804.09120076, 354893.12245076,
       267036.43495076, 277471.55995076, 218929.26307576, 225726.38807576,
       231551.73182576, 308407.12245076, 249732.18495076, 232430.30213826])

In [33]:
print(DecisionModel.score(x_test,y_test))
D = DecisionModel.predict(x_test)

0.0

In [32]:
print(LogisticModel.score(x_test,y_test))
LogisticModel.predict(x_test)

0.0

array([216337, 216337, 216337, 216337, 216337, 216337, 216337, 216337,
       216337, 216337, 216337, 216337, 216337, 216337, 216337, 216337,
       216337, 216337, 216337, 216337, 216337, 216337, 216337, 216337,
       216337, 216337, 216337, 216337, 216337, 216337, 216337, 216337])

In [64]:
x_test

       Area  Rainfall    Fertilizer
123  204177      2983  2.631739e+07
100  325793      2178  4.199309e+07
3    346714      2174  4.468970e+07
20   128396      2302  1.654960e+07
116  126077      3020  1.625069e+07
2    108701      3297  1.401102e+07
11   143319      4291  1.847310e+07
16   124657      2279  1.606766e+07
49   121205      2298  1.562272e+07
0      9166      2297  1.181452e+06
50   163250      2297  2.104211e+07
84   126077      2939  1.625069e+07
79   122880      2990  1.583862e+07
35   124950      2460  1.610543e+07
22    40375      2301  5.204136e+06
8     46288      2295  5.966292e+06
54   127671      2301  1.645615e+07
12   115716      2296  1.491521e+07
56   394319      1649  5.082575e+07
10    10950      2032  1.411400e+06
90   242513      2949  3.125871e+07
113  311288      2989  4.012347e+07
32    87630      2351  1.129507e+07
51   313395      2297  4.039505e+07
17   132088      2301  1.702548e+07
25    59514      2287  7.671057e+06
81   311288      2950  4.012347e+07
83   441451      2117  5.690083e+07
97   108528      2497  1.398872e+07
48   420523      1081  5.420331e+07
47    44780      2296  5.771918e+06
125   83580      2938  1.077304e+07

In [63]:
LogisticModel.predict_proba(x_test)

array([[2.46602113e-07, 3.22046698e-07, 8.05008742e-07, ...,
        2.37599224e-02, 6.77448756e-03, 9.50609793e-03],
       [3.52743681e-10, 5.40043643e-10, 2.32972665e-09, ...,
        3.16146985e-02, 4.26887842e-03, 7.32949472e-03],
       [1.13343030e-10, 1.78337370e-10, 8.45059784e-10, ...,
        3.29226625e-02, 3.90912257e-03, 6.94888036e-03],
       ...,
       [2.02984556e-12, 3.51734995e-12, 2.32109563e-11, ...,
        3.73423660e-02, 2.81696424e-03, 5.65981813e-03],
       [1.10417282e-03, 1.17074197e-03, 1.43127928e-03, ...,
        1.36801539e-02, 1.03889043e-02, 1.11901801e-02],
       [1.46549169e-04, 1.63469341e-04, 2.37853448e-04, ...,
        1.60739972e-02, 9.61704542e-03, 1.10475883e-02]])